

.attention-text {
    width: 700px;
    height: 30px;
    border-radius: 10px;
    display: flex; /* Füge die Flexbox-Eigenschaft hinzu */
    align-items: center; /* Zentriere vertikal */
    justify-content: center; /* Zentriere horizontal */
    margin-bottom: 20px; /* Einen zusätzlichen Abstand für einen besseren visuellen Effekt hinzufügen */
}

.icon-text {
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 900px;
}

.icon-text:hover {
    transform: scale(1.2); /* Ändere die Skalierung auf 120% beim Überfahren mit der Maus */
}

.icon-text p{
    margin:0 10px;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Arial Black";
    color:white;
}

#navBar .icon-text a:hover svg {
    transform: scale(1.2);
}



#navBar {
    position: relative;
    display: flex;
    padding: 10px;
    pointer-events: none;
}

body {
    background: url("../image/picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top 20%; /* Adjust the percentage value as needed */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

.info-box {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 500px;
    height: 570px;
    margin-top: 20px;
}

.option {
    margin-bottom: 10px;
    font-family: "Arial Black";
}

label {
    display: block;
    font-weight: bold;
}

select,
input {
    width: calc(100% - 12px); /* Breite der Optionen anpassen */
    padding: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    font-family: "Arial";
}

button {
    background-color: rgba(255, 255, 255, 0.38);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 380px;
    font-family: "Arial Black";
}

.box h1 {
    color: gray;
    text-align: center;
    margin-top: 0;
}
