body {
    background: linear-gradient(to bottom, #094c67, #0a5e5e);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

html, body {
    height: 100%;
}

.info-box {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
    margin-top: 20px;
}

.option {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

select,
input {
    width: calc(100% - 12px); /* Breite der Optionen anpassen */
    padding: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    background-color: #0a5e5e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box h1 {
    color: gray;
    text-align: center;
    margin-top: 0;
}
