@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&family=PT+Sans:wght@400;700&display=swap');


.rechter-container{
    float: right;
    margin-left: 700px;
    margin-bottom:1000px;
}

.ratings{
    text-align: left;
    color:white;
    font-family: "Arial Black";
    margin-left: 750px;
    margin-top: -300px;
}

.stars{
    display: inline-block;
}

.fa-star{
    color:gold;
}
.video-container {
    width: 600px;
    height: 500px;
    overflow: hidden;
    box-shadow: 50px 50px 20px rgba(0, 0, 0, 0.30);
    margin-left: 20px;
    margin-top:30px;
    border-radius: 10px;
    position: relative; /* Füge relative Positionierung hinzu */
}

.video {
    width: 600px; /* Setze die Breite des Videos auf 100% */
    height: 400px; /* Lass die Höhe automatisch anpassen, um das Seitenverhältnis zu bewahren */
    object-fit: cover; /* Decke den gesamten Container ab, das Seitenverhältnis bleibt erhalten */
    left: 0; /* Setze die linke Position auf 0, um es am linken Rand zu platzieren */
    top: 0; /* Setze die obere Position auf 0 */
}

.tour-month-selected {
    font-family: "Arial Black";
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: black; /* Textfarbe für ausgewählte Monate */
}


.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 600px;
    box-shadow: 50px 50px 20px rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.56);
    margin-top:50px;
}


.icon-text{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    justify-content: space-between;
}

.icons-right{
    display: flex;
    gap: 20px;
}

.icon-text p{
    margin:0 10px;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Arial Black";
    color:white;
}
#navBar {
    position: relative;
    top: 0;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#navBar div{
    gap: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
#navBar a {
    font-family: "Arial Black";
    font-size: 14px;
    margin: 0 5px; /* Füge den gewünschten Abstand zwischen den Icons hinzu */
    color: white;
    text-decoration: none;
}

#navBar a:hover {
    text-decoration: underline; /* Optional: Unterstreichung bei Hover */
    color:white;
}

#navBar div.home-icon {
    margin-right: auto; /* Damit der Home-Link auf der linken Seite bleibt */
}

#navBar svg {
    transition: transform 0.3s ease-in-out;
}

#navBar div{
    display:flex;
}

#navBar div a {
    margin-right: 20px; /* Optional: Füge Abstand zwischen den Links hinzu */
}

#navBar #selected {
    background-color: #555; /* Hintergrundfarbe des ausgewählten Bereichs in der Navbar */
}



#navBar svg:hover {
    transform: scale(1.2);
}

.container {
    flex: 1; /* Flexibles Wachstum des Containers */
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.49);
}

.right-column,
.left-column{
    box-sizing: border-box;
}

.left-column{
    order: 1;
}

.right-column{

}

.image-with-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.image-title {
    flex: 1;
    max-width: 40%;
}

.image-title h3 {
    font-family: "Arial Black";
    font-size: 1.5em;
    color: #000;
}

.image-title img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.rating {
    display:flex;
    flex-direction: column;
    margin-left: 0;
}

.rating h3 {
    font-family: "Arial Black";
    font-size: 1em;
    color: #000;
}

.stars {
    font-size: 20px;
    color: gold;
}

.description {
    margin-top:auto ;
    margin-bottom: 60px;
}

.description p {
    font-family: "Arial Black";
    margin-top: 250px;
    margin-bottom:50px;
    font-size: 18px;
    color: #ffffff;
    width: 50%;
    margin-left:80px;
}

.months-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
    flex: 2;
    max-width: 30%;
    margin-top:70px;
    margin-left: 40px;
}

.tour-month {
    font-family: "Arial Black";
    font-size: 1em;
    color: #000;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-widget-container {
    margin-top: 20px;
    margin-left: 90px;
    width: 300px;
    height: 150px;
}

#ww_da6967281f185 {
    max-width: 100px;
}

#scroll-indicator {
    margin-left: 850px;
    margin-bottom: 300px;
    cursor: pointer;
    font-size: 10px;
    margin-top: 20px;
    align-self: center;
    animation: bounce 1.5s infinite;
    filter: invert(1);
}

/* Weitere CSS-Regeln und Anpassungen können hinzugefügt werden, wenn nötig */


.center-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
    position: relative;
    margin-top: 50px;
}



.icon-link {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;

}

.icon-hover{
    transform: scale(1.2);
}


/* Stile für die Popups */
.popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 1;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: "Arial Black";
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    background: url("../image/picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top 20%; /* Adjust the percentage value as needed */
}

#navBar > div {
    display: flex;
    gap: 5px;
    height: 2.5rem;
}

#navBar > div > a {
    font-size: 1rem;
    color: #000000;
    text-decoration-line:none;
    align-self: flex-end;
}

#navBar > div > img {
    margin-left: 70%;
    border-radius: 5px;
    margin: 10px;
}

.hikeName {
    font-family: "Arial Black";
    font-size: 40px;
    margin-top: 10px; /* Füge margin-top hinzu, um den Abstand nach oben zu vergrößern */
    color: white;
}

#hikeName{
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
}

#moreInfoText{
    text-decoration: underline;
    color: #ffffff;
    margin-left: 700px;
    font-family: "Arial Black";
}

.hikeDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hikeImg {
    margin-left: 20px;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    gap: 20px;
}

.slideshow{
    width: 100%; /* Ändere die Breite auf 100%, um sie innerhalb des Containers zu füllen */
    max-width: 1000px; /* Ändere die Breite nach Bedarf */
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.49);
    margin-top: 20px;
}

#slideshow {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 50px 50px 20px rgba(0, 0, 0, 0.49);
    margin-bottom: 20px;
}


#slideshow-container {
    width: 100%;
    max-width: 600px; /* Ändere die Breite nach Bedarf */
    margin: 0 0 0 0 ;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(5, 44, 61);
}





#scroll-indicator img{
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    align-self: center; /* Zentriere den Pfeil horizontal */
    animation: bounce 1.5s infinite;
}


#selected {
    display: flex;
    flex-direction: column; /* Ändere die Ausrichtung zu vertikal */
    align-items: center;
    margin-top: 50px;
    padding:20px;
    border-radius: 10px;
}



#ww_da6967281f185{
    height: 300px;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;

}
#map {
    border-radius: 10px;
    height: 400px;
    width: 50%;
    margin-top: 50px;
}


#description {
    padding: 20px;
    font-family: "Arial Black";
    font-size: 72px;
    text-align: center; /* Zentriere den Text */
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

#tour-months {
    grid-area: 5/2/5/2; /* Grid-Area anpassen */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 Spalten für jeden Monat */
    grid-gap: 5px;

}



.tour-month-selected {
    background-color: #2a2e1f;
    color: #ffffff;
}


.weather-map-container {
    display: none;
    position: absolute;
    top: 100%;

    transform: translateX(-50%);
    padding: 20px;
    background-color: rgba(2, 0, 0, 0.49);
    z-index: 1;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Arial Black";
    font-size: 16px;
    color: black;
    width: 50%;
}

.show{
    display: block;
}
.scroll-indicator{
    margin-top: 30px;
}

.monthLabel, .tour-month, .weather-widget {
    font-family: "Arial Black";
    font-size: 18px;
}

.weather-widget {
    height: 200px;
    max-width: 550px;
    padding: 20px;
    border-radius: 90px;
    margin-top: 20px;
}



.weather-map-months{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.info {
    display: block;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.info2 {
    display: block;
    margin-top: 20px;
}

.likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.like{
    height: 30px;
    padding: 20px;
}

#drive img {
    height: 30px;
    padding: 20px;
}
.leaflet-routing-container{
    display: block;
}

.leaflet-bar{
    display: none;
}
.leaflet-control{
    display: none;
}

.like {
    height: 30px;
    padding: 20px;
}

.info > div {
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 30px;
}
.info > div > img {
    height: 40px;
}

.info2 > div {
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.leaflet-control-zoom{
    display: none;
}
.likes > a > img {
    height: 30px;
    padding: 20px;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
.container-oben {
    flex: 2;
    padding: 10px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: -80px;
}


.container {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1200px;
    padding: 20px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image-with-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.image-title {
    flex: 1;
    max-width: 40%;
}

.image-title h3 {
    font-family: "Arial Black";
    font-size: 1.5em;
    color: #000;
}

.image-title img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.weather-and-months {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}


.tour-month {
    font-family: "Arial Black";
    font-size: 1em;
    color: #000;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#ww_da6967281f185 {
    max-width: 100%;
}


.rating h4 {
    font-size: 20px;
    color: #ffffff;
}

.rating p{
    max-width: 50%;
    font-size: 18px;
    color: #ffffff;
}

.rating h2{
    font-size: 14px;
    color: #ffffff;
}


.stars {
    display: inline-block;
}

.stars:before {
    content: '\2605'; /* Stern-Symbol */
    font-size: 20px;
    color: #FFD700; /* Farbe der Sterne */
    margin-right: 5px;
}

.stars[data-rating="1"]:before {
    content: '\2605\2606\2606\2606\2606'; /* Ein Stern */
}

.stars[data-rating="2"]:before {
    content: '\2605\2605\2606\2606\2606'; /* Zwei Sterne */
}

.stars[data-rating="3"]:before {
    content: '\2605\2605\2605\2606\2606'; /* Drei Sterne */
}

.stars[data-rating="4"]:before {
    content: '\2605\2605\2605\2605\2606'; /* Vier Sterne */
}

.stars[data-rating="5"]:before {
    content: '\2605\2605\2605\2605\2605'; /* Fünf Sterne */
}
