@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&family=PT+Sans:wght@400;700&display=swap');


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.center-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    position: relative;
}



.icon-link {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;

}

.icon-hover{
    transform: scale(1.2);
}


/* Stile für die Popups */
.popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 1;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body {
    background: linear-gradient(to bottom, #094c67, #0a5e5e);
    margin: 0;
    font-family: 'Arial', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#navBar {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 100%;
    gap: 3rem;
}

#navBar > div {
    display: flex;
    gap: 10px;
    height: 2.5rem;
}

#navBar > div > a {
    font-family: "Carter One";
    font-size: 1rem;
    color: #000000;
    text-decoration-line:none;
    align-self: flex-end;
}

#navBar > div > img {
    margin-left: 70%;
    border-radius: 5px;
    margin: 10px;
}

.hikeName {
    font-family: "SansSerif";
    font-size: 40px;
    margin-top: 20px; /* Füge margin-top hinzu, um den Abstand nach oben zu vergrößern */
    margin-bottom: 20px;
    color: #000000;
}

.hikeDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hikeImg {
    margin-left: 20px;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    gap: 20px;
}

#slideshow {
    width: 800px; /* Ändere die Breite auf 100%, um sie innerhalb des Containers zu füllen */
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.57);
    align-self: center;
    margin-bottom: 20px;
}

#slideshow-container {
    width: 800px;
    height: 500px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

#scroll-indicator {
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 40px;
    align-self: center; /* Zentriere den Pfeil horizontal */
    animation: bounce 1.5s infinite;
}

#scroll-indicator img{
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    align-self: center; /* Zentriere den Pfeil horizontal */
    animation: bounce 1.5s infinite;
}


#selected {
    display: flex;
    flex-direction: column; /* Ändere die Ausrichtung zu vertikal */
    align-items: center;
    margin-top: 10px;
    padding:20px;
    border-radius: 10px;
}


.location {
    font-size: 30px;
    margin-top: 10px; /* Füge margin-top hinzu, um den Abstand nach oben zu vergrößern */
    color: #000000;
    font-family: "Pt Sans";
    font-weight: bold;
}

#ww_da6967281f185{
    height: 200px;
    max-width: 480px;
    padding: 20px;
    border-radius: 10px;
}
#map {
    border-radius: 10px;
    height: 400px;
    width: 50%;
    margin-top: 50px;
}


#description {
    padding: 20px;
    font-family: "Agency FB";
    font-size: 72px;
    text-align: center; /* Zentriere den Text */
    color: rgb(0, 0, 0);
}

#tour-months {
    grid-area: 5/2/5/2; /* Grid-Area anpassen */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 Spalten für jeden Monat */
    grid-gap: 5px; /* Abstand zwischen den Monaten */
}



.tour-month-selected {
    background-color: #4F6F52;
    color: #ffffff;
}

.months-container{
    top:100%;
    margin-top: 800px;
}

.months-container,
.weather-map-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: rgba(2, 0, 0, 0.49);
    z-index: 1;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: black;
}

.show{
    display: block;
}

.monthLabel, .tour-month, .weather-widget {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.weather-widget {
    height: 200px;
    max-width: 480px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.weather-map-container {
    display: flex;
    justify-content: space-between;
}

.info {
    display: block;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.info2 {
    display: block;
    margin-top: 20px;
}

.likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.like{
    height: 30px;
    padding: 20px;
}

#drive img {
    height: 30px;
    padding: 20px;
}
.leaflet-routing-container{
    display: block;
}

.leaflet-bar{
    display: none;
}
.leaflet-control{
    display: none;
}

.like {
    height: 30px;
    padding: 20px;
}

.info > div {
    font-family: "Pt Sans";
    font-weight: bold;
    font-size: 30px;
}
.info > div > img {
    height: 40px;
}

.info2 > div {
    font-family: "Pt Sans";
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.leaflet-control-zoom{
    display: none;
}
.likes > a > img {
    height: 30px;
    padding: 20px;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

