@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Caveat&family=Libre+Baskerville:ital@1&display=swap');


body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: url("../image/picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top 20%;
}

.attention-text {
    text-align: center;
    padding: 50px;
    background-color: rgba(253, 243, 231, 0.37);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin-top:300px;
}

.attention-text h2 {
    font-size: 40px;
    color: #ffffff;
    font-family: "Arial Black";
    font-weight: bold;
}

.attention-text p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Arial";
}

#searchBar {
    visibility: hidden;
}

#navBar {
    margin-top: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;

}

#navBar > div {
    display: flex;
    align-items: center;
}

#navBar > div > a, #navBar > div > img {
    margin: 0 10px;
}

#navBar > div > .left-icon {
    margin-right: auto;
}

#navBar > div > .right-icon {
    margin-left: auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-left: 250px;
}

.center-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    margin-top: 100px;
    text-align: center;
    cursor:pointer;
}

.center-icons a {
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 100px;
}

.center-icons a:hover {
    text-decoration: underline;
}

.center-icons a .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-icons a p {
    margin-top: 5px;
    font-family: "Arial Black";
    font-size: 15px;

}

.center-icons a:hover .icon {
    transform: scale(1.1);
}

.icon {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

#searchPopup{
    margin-top:100px;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left:250px;
}

.image-with-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 90%;
    height: 100%;
    margin-left:80px;
    position: relative;
    margin-top: -10px;
    font-family: "Century Gothic";
    background-color: rgba(0, 0, 0, 0.46);

}

.image-with-description .description::before {
    content: "Description";
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    z-index: 1;
    margin-bottom: 20px;
}

.image-with-description .description {
    position: relative;
    margin-top: 15px;
}


.image-with-description img:active {
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    outline:none;
}

.image-with-description img:hover {
    border: 3px solid #ffffff;
    transition: border 3s ease-out;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}


.image-title {
    text-align: center;
    flex-basis: 20%;
}

.image-title h3 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 28px;
    font-family: "Century Gothic";
}

.image-title img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border-radius:10px;
}

.description {
    flex-basis: 50%;
    padding: 0px;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 16px;
    position: relative;
    font-family: "Century Gothic";
}

.rating h3 {
    font-size: 16px;
    color: white;
    margin-top: 5px;
}

.rating p{
    font-size: 14px;
    color: white;
    margin-top:10px;
}

.rating h2{
    font-size: 14px;
    color: white;
}
.rating {

}

.stars {
    display: inline-block;
}

.stars:before {
    content: '\2605';
    font-size: 14px;
    color: #FFD700;
    margin-right: 5px;
}

.stars[data-rating="1"]:before {
    content: '\2605\2606\2606\2606\2606';
}

.stars[data-rating="2"]:before {
    content: '\2605\2605\2606\2606\2606';
}

.stars[data-rating="3"]:before {
    content: '\2605\2605\2605\2606\2606';
}

.stars[data-rating="4"]:before {
    content: '\2605\2605\2605\2605\2606';
}

.stars[data-rating="5"]:before {
    content: '\2605\2605\2605\2605\2605';
}


@media (max-width: 768px) {
    .image-with-description {
        flex-direction: column;
    }

    .description {
        margin-left: 0;
        margin-top: 20px;
    }
}